body {
  background: lightblue;
}

.new-border {
  border: 2px solid black;

}

/*.new-border2 {
  border-width: 2px;
  border-style: solid;
  border-collapse: black;

}*/

.title {
border-color:green;

}

.image {
  border-color:blue;

}

.text1 {
  border-color: red;

}

.text2 {
  border-color: orange;

}

.footer {
  border-color: grey;

}

.top-nav {
  background-color: goldenrod;
  height: 45px;
  list-style: none;
  font-family: "Arial";
  padding: 0 9px;
  float: left;
  margin: 10px 15px 0 15px;
  cursor:pointer;
